@charset "utf-8";

body, html{
    padding: 0;
    margin: 0;
    background-color: #000;
}

.section{
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.section01{background-color: #ffc44f}
.section02{background-color: #04588c}
.section03{background-color: #d9d4d2}
.section04{background-color: #f2490c}
.section05{background-color: #a60d0d}
.section06{background-color: #eadd96}
.section07{background-color: #ffdc42}
.section08{background-color: #c5b358}
.section09{background-color: #d40000}
